<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>BMI Calculator</title>
</head>
<body>
    <img src="../static/images/man-body-mass-index-vector.jpg" alt="" class="image" height="630px" width="100%">
    <div class="container">
        <h1 class="dis">BMI Calculator</h1>
        <form method="post" action="/calculate">
            
            <input type="text" name="weight" class="weight" placeholder="Enter the Weight (kg)" required>
            <br>
            
            <input type="text" name="height" class="height" placeholder="Enter the Height (cm)" required>
            <br>
            <input type="submit" class="submit">
        </form>
    </div>
</body>
</html>
